<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDawZPIZ3dDZyXV5Pe7NdED4jeaBjTDAHY</string>
	<key>GCM_SENDER_ID</key>
	<string>619203609400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dam.n3x6l9thsh0pp7ngc5mp2n19n</string>
	<key>PROJECT_ID</key>
	<string>nuflapril-crangrulkan</string>
	<key>STORAGE_BUCKET</key>
	<string>nuflapril-crangrulkan.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619203609400:ios:b778822912a68501b6f7cd</string>
</dict>
</plist>